/* Configuracion */
/* 1.- Navbar */
/* 2 Info */
/* 3 About */
/* 4 Portafolio */

@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;600&display=swap" rel="stylesheet');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "League Spartan", sans-serif;
    overflow-x: hidden;
    color: #000;
}

body.dark {
    color: #fff;
    background-color: #191c32;
}

/* 1.- Nabar */

.wrapper {
    width: 100%;
    height: 100%;
}

.navbar {
    justify-content: space-between;
    padding: 2em 0.9em;
    padding-bottom: 0.5em;
}

.switch {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.6em;
    padding-bottom: 0.5em;
}

.toggle-theme {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.toggle-theme__icon {
    margin-right: 0.5em;
    width: 25px;
}

.toggle-theme__text {
    font-size: 0.8em;
}

.flags {
    width: 3em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.flags__item {
    width: 30px;
}

.flags__img {
    display: block;
    cursor: pointer;
}


.Menu {
    display: flex;
    width: 100%;
    justify-content: space-around;
    font-size: 1.3em;
}

.Menu li {
    list-style: none;
}

.Menu a {
    text-decoration: none;
    color: #1d37cdd4;
}

.Menu a:hover {
    background-color: aquamarine;
    color: #191c32;
    transition: ease-in 0.4s;
}

/* 2.- Info */
.main {
    margin: 0 auto;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
}

h1 {
    font-size: 3em;
}

span {
    color: blue;
}

/* Hero */
.info-content {
    width: 100%;
    padding: 1em;
}

.info-content p {
    font-size: 1.55em;
    margin-right: 10px;
}

.dowload-cv {
    color: #191c32;
    padding: 10px 20px;
    background-color: aqua;
    border: none;
    border-radius: 20px;
    margin-top: 10px;
    cursor: pointer;
    box-shadow: 1px 3px 11px -5px;
    color: rgba(9, 39, 73, 0.69);
}

.dowload-cv:hover {
    background-color: #fff;
    box-shadow: none;
}

.main img {
    width: 100%;
    border: 7px solid aqua;
    height: 26.25em;
}

/* 3.- About */
.about {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    align-items: center;
}

.about img {
    width: 100%;
    grid-column: 1/5;
}

.about-info {
    grid-column: 5/10;
    padding: 1em;
    font-size: 1.1em;
}

.about-info h2 {
    font-size: 2em;
}

.divider {
    height: 4px;
    width: 60px;
    background-color: aqua;
    margin-top: 10px;
    margin-bottom: 2.5em;
}

.about p {
    margin-bottom: 1em;
    font-size: 1.55em;
}

/* 4.- Portafolio */
.portafolio {
    width: 100%;

}
.portfolio-headings {
    width: 100%;
    padding: 5em;
}

.portfolio-headings h2 {
    font-size: 2.5em;
}

.portafolio .contenedor {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding-bottom: 200px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.card {
    width: 100%;
    color: #fff;
    background-color: #1d37cdd4;
    margin: 1em;
}

.card-img-1 {
    width: 100%;
    height: 9.375em;
    background: url("img/Eccomerce-html_js-img.png");
    background-size: cover;
}
.card-img-2 {
    width: 100%;
    height: 9.375em;
    background: url("img/weather-app-img.png");
    background-size: cover;
}
.card-img-3 {
    width: 100%;
    height: 9.375em;
    background: url("img/R&M-app-img.png");
    background-size: cover;
}

.project_links {
    display: flex;
    justify-content: space-evenly;
}

.project_links a {
    color: #fff;
    text-decoration: none;
}

.project_links i {
    font-size: 1.5em;
    padding: 5px;
}

.card__title h2 {
    padding: 10px;
    text-align: center;
}

.card .Project_details {
    align-self: center;
    margin: 1em;
    width: 70%;
    text-align: center;
}

.card .Project_details a {
    text-decoration: none;
    color: #191c32;
    text-transform: uppercase;
}

.project-details-content {
    display: flex;
    width: 100%;
    justify-content: center;
}

/* .contact-section {
  
} */

.contact-headings {
    padding: 0 4rem;
}

.contact-headings h2 {
    font-size: 3em;
    /* padding: 0 1em; */
}

.container-contact {
    display: flex;
    flex-wrap: wrap;
}

.container-contact img {
    width: 100%;
    height: 100%;
    bottom: 0;
}

.contact-form {
    margin-left: 3.3em;
    margin-top: 2em;
}

.contact-form h4 {
    font-size: 30px;
}

.form {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 2em;
}

.form input {
    padding: 10px 20px;
    margin-bottom: 2em;
    background: none;
    border: none;
    border-bottom: 1px solid #1d37cdd4;

}

.form textarea {
    height: 150px;
    background: none;
    padding: 1.5em;
    border: 1px solid #1d37cdd4;
}

.btn-submit {
    padding: 10px 20px;
    margin: 1em;
    border: none;
    text-transform: uppercase;
    background-color: aqua;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 1px 3px 11px -5px;
    color: rgba(9, 39, 73, 0.69);
}

.btn-submit:hover {
    background-color: #fff;
    box-shadow: none;
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 12.5em;
}

.footer-content h2 {
    font-size: 3em;
}
.footer-content h5,
.social-network i {
    font-size: 2em;
}

.social-network {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 1em;
}
.social-network i {
    text-decoration: none;
    color: aqua;
}

@media (min-width: 768px) {
    .wrapper {
        width: 100vw;
        height: 100vh;
    }

    .navbar {
        display: flex;
        justify-content: space-between;
        padding: 2em;
    }

    .switch {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .toggle-theme {
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }

    .toggle-theme__icon {
        margin-right: 0.5em;
        margin-left: 0.5em;
        width: 1.2em;
    }

    .toggle-theme__text {
        font-size: 0.8em;
    }

    .flags {
        width: 3em;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .flags__item {
        width: 30px;
    }

    .flags__img {
        display: block;
        cursor: pointer;
    }

    .brand {
        margin-top: -7px;
        font-size: 1.4em;
    }

    .brand span {
        color: aqua;
    }

    .Menu {
        display: flex;
        width: 70%;
        justify-content: space-around;
    }

    .Menu li {
        list-style: none;
    }

    .Menu a {
        text-decoration: none;
        font-size: 1.4em;
    }

    .Menu .Active {
        color: rgb(13, 188, 211);
    }

    .Menu a:hover {
        background-color: aquamarine;
        color: #191c32;
        transition: ease-in 0.4s;
    }

    .main {
        margin: 0 auto;
        width: 80vw;
        height: 80vh;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        gap: 4rem;
    }

    h1 {
        font-size: 3em;
    }

    span {
        color: blue;
    }

    .dowload-cv {
        font-size: 1.4em;
        color: #191c32;
        padding: 10px 20px;
        background-color: aqua;
        border: none;
        border-radius: 20px;
        margin-top: 10px;
        cursor: pointer;
        box-shadow: 1px 3px 11px -5px;
        color: rgba(9, 39, 73, 0.69);
    }

    .dowload-cv:hover {
        background-color: #fff;
        box-shadow: none;
    }

   .main img {
    align-items: center;
    border: 7px solid aqua;
    height: 26.25em;
}

    .about {
        display: grid;
        grid-template-columns: repeat(10, 1fr);
        width: 100vw;
        align-items: center;
    }

    .about img {
        width: 100%;
        grid-column: 1/5;
    }

    .about-info {
        grid-column: 5/10;
        padding: 3em;
    }

    .about-info h2 {
        font-size: 2.5em;
    }

    .divider {
        height: 4px;
        width: 60px;
        background-color: aqua;
        margin-top: 10px;
        margin-bottom: 2.5em;
        padding: 0 3em;
    }

    .about p {
        margin-bottom: 1em;
        font-size: 1.4em;
    }

    .portafolio {
        width: 100vw;

    }
    .portfolio-headings {
        width: 100vw;
        padding: 5em;
    }

    .portfolio-headings h2 {
        font-size: 2.5em;
    }

    .portafolio .contenedor {
        width: 92vw;
        height: 80vh;
        margin: 0 auto;
        padding-bottom: 200px;
        display: flex;
        flex-wrap: initial;
        align-items: center;
        justify-content: center;
    }

    .card {
        width: 18.75em;
        height: 30.875em;
        color: #fff;
        background-color: #1d37cdd4;
        margin: 1em;
    }

    .card-img-1 {
        width: 100%;
        height: 9.375em;
        background: url("img/Eccomerce-html_js-img.png");
        background-size: cover;
    }
    .card-img-2 {
        width: 100%;
        height: 9.375em;
        background: url("img/weather-app-img.png");
        background-size: cover;
    }
    .card-img-3 {
        width: 100%;
        height: 9.375em;
        background: url("img/R&M-app-img.png");
        background-size: cover;
    }
    .project_links {
        display: flex;
        justify-content: space-evenly;
    }

    .project_links a {
        color: #fff;
        text-decoration: none;
    }

    .project_links i {
        font-size: 1.5em;
        padding: 5px;
    }

    .card__title h2 {
        padding: 10px;
    }

    .card .Project_details {
        align-self: center;
        margin: 1em;
        width: 80%;
        text-align: center;
    }

    .card .Project_details a {
        text-decoration: none;
        color: #191c32;
        text-transform: uppercase;
    }

    .project-details-content {
        display: flex;
        width: 100%;
        justify-content: center;
    }

    /* .contact-section {
       
    } */

    .contact-headings h2 {
        font-size: 3em;

    }

    .container-contact {
        margin: 0 auto;
        display: flex;
        flex-wrap: nowrap;
    }

    .container-contact img {
        width: 63%;
        height: 65%;
        bottom: 0;
        margin-left: 1.2rem;
    }

    .contact-form {
        margin-left: 1.2rem;
    }

    .contact-form h4 {
        font-size: 30px;
    }

    .form {
        display: flex;
        flex-direction: column;
        width: 30vw;
        margin-top: 2em;
    }

    .form input {
        padding: 10px 20px;
        margin-bottom: 2em;
        background: none;
        border: none;
        border-bottom: 1px solid #1d37cdd4;
    }

    .form textarea {
        height: 150px;
        background: none;
        padding: 1.5em;
        border: 1px solid #1d37cdd4;
    }

    .btn-submit {
        padding: 10px 20px;
        margin: 1em;
        border: none;
        text-transform: uppercase;
        background-color: aqua;
        border-radius: 20px;
        cursor: pointer;
        box-shadow: 1px 3px 11px -5px;
        color: rgba(9, 39, 73, 0.69);
    }

    .btn-submit:hover {
        background-color: #fff;
        box-shadow: none;
    }

    .footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 12.5em;
    }

    .footer-content h2 {
        font-size: 3em;
    }
    .footer-content h5,
    .social-network i {
        font-size: 2em;
    }

    .social-network {
        display: flex;
        justify-content: space-evenly;
        width: 300px;
        margin-top: 1em;
    }

    .social-network i {
        text-decoration: none;
        color: aqua;
    }
}
